---
import AboutImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="About NightBit Games"
	pubDate={new Date('July 29 2025')}
	heroImage={AboutImage}
>
	<p>
		<strong>We are nightBit Games</strong>
	</p>
	<p>
		At NightBit Games, we craft immersive and unforgettable gaming experiences.
		From thrilling adventures to innovative mechanics, we aim to spark imagination 
		and push the boundaries of gameplay. Whether you're a casual player or a hardcore 
		gamer, our goal is to deliver fun, challenge, and a touch of magic in every title.
	</p>
	<p>
		This is just the beginning.
		Welcome to the world of NightBit.
	</p>
</Layout>
